{% extends 'app/base.html' %}
{% load static %}
{% block title %}about{% endblock title %}
{% block main-content %}
<h1 class="about" style="margin-top:5%;margin-bottom:5%">About Our Market</h1>
<div class="container" style="width:60%">
<img src="1.jpg" >
<p>
    Grocery Store
</p>
<p>
    What began little, with a solitary idea of a store that provides a rebate and the basic thought of moving more for less, has become in the course of the last 40 years into the biggest retailer in this whole country.
</p>
<p>
    Every week, about 265 million clients and individuals visit our in excess of 13,200 stores under 55 standards in 27 nations and eCommerce sites in 10 nations.
</p>
<p>
    With the financial year 2018 income of Rs.500.3 billion, ‘Organization Name’ utilizes over 2.2 million partners around the world.
</p>
<p>
    ‘Organization Name’ keeps on being an innovator in supportability, corporate magnanimity, and work opportunity. It’s everything part of our relentless promise to make openings and convey an incentive to clients and networks the world over.
</p>
</div>
{% endblock main-content %}